@model IList<Blog.DAL.Entities.Article>

@{
    ViewBag.Title = "Статьи";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        //Устанавливает идентификатор HTML-элемента,
        //в который будет вставлено содержимое, полученное с сервера
        UpdateTargetId = "poll"
    };
}

@section content {
    <div class="container-fluid p-0">

        @foreach (var article in Model)
        {
            <br />
            <div class="row d-flex align-items-center">
                <div class="col-12">
                    <div class="card mb-4">
                        <img class="card-img-top w-50 m-auto" src="@article.Image" />
                        <div class="card-body">
                            <h3>@article.Title</h3>
                            <p class="card-text">@article.Text.Substring(0, 200)<span>...</span></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-light" href="@Url.Action("Details", new { id = article.Id})">
                                    Подробнее
                                </a>
                                <small class="text-muted">@article.Date.ToShortDateString()</small>
                            </div>
                            <div class="d-flex flex-row">
                                @foreach (var tag in article.Tags)
                                {
                                    <a href="@Url.Action("Index", "Home", new {tagId = tag.Id })">
                                        <span class="badge badge-secondary mr-1">@tag.Name</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="btn-group mb-2">
            @if (ViewBag.Page > 0)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"
                   class="btn btn-sm btn-outline-secondary">
                    &laquo; Предыдущая
                </a>
            }
            @if (ViewBag.Page < ViewBag.MaxPage)
            {
                <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"
                   class="btn btn-sm btn-outline-secondary">
                    Следующая &raquo;
                </a>
            }
        </div>

    </div>

}

@section poll {
    <div class="container-fluid">
        <div class="row">
            <div class="col-10">
                <div class="card" id="poll">
                    @Html.Action("Poll", new { view = "poll" })
                </div>
            </div>
        </div>
    </div>


}



